@model WebApplication_JunJobs.Models.Vacancy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacancy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.VacancyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VacancyDescription)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VacancyMainSkills)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VacancyResposibilities)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VacancyAboutCompany)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VacancyContacts)
        </dd>
    </dl>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
